<suite name="IBKR_Web_Portal" parallel="classes" thread-count="4">
    <listeners>
        <listener class-name="com.ibkr.qa.listener.TestListener"/>
        <listener class-name="com.ibkr.qa.listener.AnnotationTransformer"/>
    </listeners>
    <test name="IBKR_Web_Portal_Test">
        <classes>
            <class name="com.ibkr.qa.portal.AdvisorPortalTest"/>
            <class name="com.ibkr.qa.portal.BrokerPortalTest"/>
            <class name="com.ibkr.qa.portal.CompliancePortalTest"/>
            <class name="com.ibkr.qa.portal.ClientPortalTest"/>
        </classes>
    </test>
        <test name="IBKR_Web_Portal_Upload_Test">
            <classes>
                <class name="com.ibkr.qa.portal.PortalDocumentUploadTest"/>
            </classes>
        </test>
        <test name="IBKR_Chinese_Native_Application_Test">
            <classes>
                <class name="com.ibkr.qa.accountapplication.ChineseNativeAccountApplicationTest"/>
                <class name="com.ibkr.qa.accountapplication.PortfolioAnalystApplicationTest"/>
                <class name="com.ibkr.qa.accountapplication.EmployeeTrackApplicationTest"/>
            </classes>
        </test>
</suite>